<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>450933203621-89f11d9i8a0uokekvcpp190ail48cknr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.450933203621-89f11d9i8a0uokekvcpp190ail48cknr</string>
	<key>API_KEY</key>
	<string>AIzaSyA5t1DyWrAUEMkwLrsVqJYhzrtBUcNREWo</string>
	<key>GCM_SENDER_ID</key>
	<string>450933203621</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>lionmane.PokeFinder</string>
	<key>PROJECT_ID</key>
	<string>pokefinder-a52d3</string>
	<key>STORAGE_BUCKET</key>
	<string>pokefinder-a52d3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:450933203621:ios:faff7bcf15bd129b</string>
	<key>DATABASE_URL</key>
	<string>https://pokefinder-a52d3.firebaseio.com</string>
</dict>
</plist>